[Desktop Entry]
Version=1.1
Type=Application
Name=Spotlight info
Comment=Description of the current spotlight image
Keywords=background;wallpaper;
Icon=preferences-desktop-wallpaper
Exec=bash -c 'notify-send "Wallpaper changed to:" "$(journalctl -t spotlight -n 1 --no-pager)" --icon=preferences-desktop-wallpaper'
Actions=
Categories=System;Utility;X-XFCE;X-Xfce-Toplevel;
Terminal=false
  
