[Desktop Entry]
Version=1.1
Type=Application
Name=Spotlight refresh
Comment=Fetch a new background image from Spotlight
Keywords=background;wallpaper;
Icon=preferences-desktop-wallpaper
Exec=systemctl start --user spotlight.service
Actions=
Categories=System;Utility;X-XFCE;X-Xfce-Toplevel;
Terminal=false
