[Desktop Entry]
Version=1.1
Type=Application
Name=Spotlight info
Comment=Log of the used wallpapers with URLs
Keywords=background;wallpaper;
Icon=preferences-desktop-wallpaper
Exec=xfce4-terminal --hold -e "journalctl -t spotlight --no-pager"
Actions=
Categories=System;Utility;X-XFCE;X-Xfce-Toplevel;
