[Unit]
Description=Runs Spotlight daily

[Timer]
OnCalendar=Mon,Wed,Fri
Persistent=true
RandomizedDelaySec=30
Unit=spotlight.service

[Install]
WantedBy=default.target
