[Unit]
Description=Spotlight
Wants=network-online.target graphical-session.target
After=network-online.target graphical-session.target

[Service]
Type=simple
ExecStart=/bin/bash -c "/home/$USER/.local/bin/spotlight.sh"
